#item-list{
    border: 1px solid brown;
    box-shadow: 2px 2px 4px gray; 
    border-radius: 10px;
    width: 250px;
    min-height: 200px;
    background-color: burlywood;
}
.fa{
    font-size: 150px;
    color: brown;
    opacity: 0.3;
    position: relative;
    z-index: 0;
    left: 45;
    top: 20;
}
button{
    padding: 10px 20px;
}
ol{
    
    position: relative;
    bottom: 100;
    
}
ol > li{
    color: rgb(15, 2, 2);
    font-size: 20px;

}
#add-item{
    color: brown;
    background-color: rgb(250, 244, 234);
    border-radius: 5px;
}
.del{
    /* padding: 15px 30px; */
    position: relative;
    top: 18;
    color: brown;
    background-color: rgb(250, 244, 234);
    border-radius: 5px;
}
.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 20px;
}
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider::before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked +.slider{
    background-color: #2196f3;
}
input:focus + .slider{
    box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px)
}
.slider.round{
    border-radius: 34px;
}
.slider.round::before{
    border-radius: 50%;
}